/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html+body full height */
html,body{
  height: 100%;
}
/* Flex layout for sticky footer  */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color:black;
  transition: color 0.3s ease;
}

/* Pseudo-class */
.nav-links a:hover,.nav-link a.active {
  color: brown;
}

.nav-links a:focus-visible {
  outline: 2px solid brown;
}
main{ 
  flex: 1;
}

/* Hero Section */
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f4f4f4;
  animation: fadeIn 1s ease-in;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

/* Button */
.btn {
  padding: 10px 20px;
  background: brown;
  color: #fff;
  border-radius: 5px;
}

/* Hover + transition */
.btn:hover {
  background: #5c2c0a;
  transform: scale(1.05);
}
.link{
  color: brown;
  text-decoration: none;
  font-weight: bold;
}

/* Sections (About ,learning , Contact)*/
section {
  padding: 60px 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Pseudo-element */
h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: brown;
  margin: 8px auto 0;
}

/* Cards Section */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.journey ul {
  max-width: 300px;
  margin: auto;
}

.journey li {
  margin-bottom: 10px;
  text-align: center;
}
.cta{
  background: #f9f9f9;
  text-align:center;
}

/* Hover effect */
.card:hover {
  transform: translateY(-5px);
}

/* Contact Form */
.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact label {
  margin: 10px 0 5px;
}

.contact input,
.contact textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact button {
  margin-top: 15px;
  padding: 10px;
  background: brown;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
